<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">404 Error</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">The page that you are looking for doesn't exist. Let's just go cycling.</p>
  </div>
  <%= image_tag("cyclist.png", class: "d-block mx-auto mb-4", alt: "Cyclist", width: "275") %>
</div>