<!-- navigation -->
<div class="border-bottom shadow-sm">
  <nav class="navbar navbar-light py-2">
    <div class="container justify-content-center justify-content-lg-between">
      <a class="navbar-brand" href="/">
        <%= image_tag("logo/manitoba-bikes-logo.png", width: 160, alt: "Manitoba Bikes Logo", class: "d-inline-block align-text-top")%>
      </a>
      <span class="navbar-text">
        <% if controller_name == 'registrations' %>
          Already have an account? <a href="<%= customer_session_path %>">Sign in</a>
        <% else %>
          Don't have an account? <a href="<%= new_customer_registration_path %>">Sign up</a>
        <% end %>
      </span>
    </div>
  </nav>
</div>
